<h4>RehaNoteとは</h4>
<br>
<p>リハビリ・介護職向け</p>
<p>軽運動と記録文例をセットで管理・共有できるコミュニティサイトです。​</p>
<br>
<p>はじめての方はこちら<br>
  <%= link_to "新規登録", new_user_path, class: "btn btn-outline-primary btn-hover" %></p>
<p>登録済みの方はこちら<br>
  <%= link_to "ログイン", new_session_path, class: "btn btn-outline-primary btn-hover" %></p>