<h1>About</h1>
<p>リハビリ・介護職向け</p>
<p>軽運動と記録文例をセットで管理・共有できるコミュニティサイト​</p>

<p>はじめての方はこちら<br>
  <%= link_to "新規登録", new_user_path, class: "btn btn-primary" %></p>
<p>登録済みの方<br>
  <%= link_to "ログイン", new_session_path, class: "btn btn-outline-primary" %></p>